body {
  margin: 0;
  background-color: dodgerblue !important;
}

.head {
  text-align: center;
}

.Home__Avatar {
  margin-top: 10%;
  border: 3px solid #fff !important;
}

.head h2 {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}

.head h3 {
  font-size: 25px;
  color: #fff;
  margin-top: -16px;
}

.subHeader {
  font-size: 31px;
  padding: 0 16px;
  line-height: 64px;
  color: #fff;
  background: dodgerblue;
}

.TypistExample a {
  color: inherit;
}
.TypistExample a:hover {
  background-color: #22bad9;
  color: white;
  text-decoration: none;
}

.TypistExample-header {
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
  color: #22bad9;
}

.TypistExample-message {
  color: hotpink;
  width: 400px;
  margin: auto;
}
.TypistExample-message .flash {
  color: #22bad9;
  font-weight: bold;
  text-decoration: underline;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}